.image {
  height: 400px;
  width: 300px;
  /* object-fit: cover; */
  transform: translatey(10px);
  margin-left: 50px;
  background-size: cover;
}
.welcome {
  text-align: center;
}

.inputbox {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.card {
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  margin-top: 10px;
}
.clr {
  color: yellow;
}
.container {
  margin-top: 20px;
  box-shadow: 5px 5px 5px 3px purple;
  height: min-content;
  width: 400px;
}
.story {
  font-size: 20px;
  text-align: center;
  font-family: "Lobster Two", cursive;
}
.wholeContainer {
  display: flex;
  margin-bottom: 5rem;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content: flex-start;
  column-gap: 20px;
}
.title {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
}
.star {
  font-size: 15px;
}
.like-dislike {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sum-btn {
  margin-left: 30%;
  margin-top: 30px;
}
.del-count {
  display: flex;
  justify-content: space-evenly;
}
.not-found {
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.error {
  margin-left: 30%;
  height: 500px;
}
.movie-detail-container {
  max-width: 900px;
  padding: 24px;
}
.route-content{
  margin-top: 5rem;
}
.form{
  display: flex;
  flex-direction: column;
  width:30vw;
  align-items: center;
}