.image {
  height: 200px;
  width: 150px;
  /* object-fit: cover; */
  /* transform: translatey(10px); */
  margin-left: 50px;
  /* background-size: cover; */
}
.welcome {
  text-align: center;
}
.title{
  margin: 0;
}
.inputbox {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.card {
  display: flex;
 
  justify-content: space-between;
  
}
.clr {
  color: yellow;
}
.flex{
  display: flex;
}
.container {
  margin-top: 20px;
  box-shadow: 5px 5px 5px 3px purple;
  height: min-content;
  width: 1000px;
  display: flex;
}
.story {
  font-size: 20px;
  text-align: center;
}
.wholeContainer {
  display: flex;
  margin-bottom: 5rem;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content: flex-start;
  column-gap: 20px;
}

.star {
  font-size: 15px;
}
.like-dislike {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sum-btn {
  margin-left: 30%;
  margin-top: 30px;
}
.del-count {
  display: flex;
  justify-content: space-evenly;
}
.not-found {
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.error {
  margin-left: 30%;
  height: 500px;
}
.movie-detail-container {
  max-width: 900px;
  padding: 24px;
}
.route-content{
  margin-top: 5rem;
}
.form{
  display: flex;
  flex-direction: column;
  width:30vw;
  align-items: center;
}