body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translate(60px);
}

.image {
  height: 400px;
  width: 300px;
  /* object-fit: cover; */
  transform: translatey(10px);
  margin-left: 50px;
  background-size: cover;

}
.inputbox{
  /* margin:1rem; */
  gap:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  margin-top: 10px;
}
.clr{
  color: yellow;
}
.container {
  margin-top: 20px;
  box-shadow: 5px 5px 5px 3px purple;
  /* height: 680px; */
  width: 400px;
}
.story {
  font-size: 20px;
  text-align: center;
  font-family: "Lobster Two", cursive;
}
.wholeContainer {
  display: flex;
  margin-bottom:5rem;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content:flex-start;
  column-gap:20px;
}
.title {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
}
.star {
  font-size: 15px;
  /* background-color: yellow; */
}
.like-dislike{
  display: flex;
  gap: 10px;
  /* height:15px;
  width:10px; */
  align-items: center;
  margin-left: 40%;
}
.sum-btn{
  margin-left: 30%;
  margin-top: 30px;
}
